include ../bemto/bemto.pug

+b('footer').footer
  .container 
    +e.inner
      +e('p').copy © 2013 - 2015
      +e('p').text Здесь наследили 
        span соискатели:)
      +e('a').logo(href="#")
        +e('img').logo-img(src="icons/footer_logo.svg" alt="fff")
      