include ../bemto/bemto.pug

+b('header').header
    .container
        +e.inner
            +e('a').logo(href="#")
                +e('img').logo-img(src="icons/logo.svg" alt="fff")
            +e.title-wrap
                +e.title adventure
                +e.subtitle оставь свой след, где его еще нет...